body {
    background-color: rgb(242,89,156);
    background-color: radial-gradient(circle, rgba(242,89,156,1) 0%, rgba(233,148,230,1) 100%);;
}

.head-table {
    display: flex;
    justify-content: space-between;
}
.form-group span {
    font-weight: 200;
    font-size: 10px;
}

.container {
    margin-top: 20px;
}

#btnAdicionar {
    width: 30px;
    height: 30px;
    background-color: #ff00f7;
    display: flex;
    justify-content: center;
    border-color: #ff00f7;
    color: #ffffff;
}
